Admin/
App_Browsers/

#App Data contents for the module
App_Data/*
!App_Data/CMSModules/
App_Data/CMSModules/*
!App_Data/CMSModules/MAMR.RestHashTracker/
App_Data/CMSModules/MAMR.RestHashTracker/Install/

bin/
ClientBin/
CMS_MvcModule/
CMSAPIExamples/
CMSDependencies/
CMSDesk/
CMSEdit/
CMSImportFiles/
CMSInlineControls/
CMSInstall/
CMSMessages/
CMSModules/
CMSPages/
CMSResources/
CMSSiteManager/
CMSSiteUtils/
CMSTemplates/
CMSWebParts/
CommunitySite/
Controllers/
CorporateSite/
Controllers/
CorporateSite/
DancingGoat/
EcommerceSite/
IntranetPortal/
Models/
obj/

#CMSModules contents for the module
Old_App_Code/*
!Old_App_Code/CMSModules

Old_App_Code/CMSModules/*
!Old_App_Code/CMSModules/MAMR.RestHashTracker

Old_App_WebReferences/
PersonalSite/
Properties/
RugbyWorldCup/
Views/
Web References/